# example log file with some entries written below - to use, create a 'clock.log' file or rename this file and delete below entries...
[2024-07-29 23:47:16] Clocked in
[2024-07-29 23:48:40] eggs and bacon
[2024-07-29 23:49:00] avocado on toast