<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='clock.png' type='image/png'/>
    <title>Document</title>
</head>
<body>
    <div>
        <form id="msg_entry" name="msg_entry" method="get">
            <label>Add task: <input type="text" id="log_msg" name="log_msg" size="80" placeholder="When a task has been completed, add a short description here and hit <Enter>..." autofocus/></label>
        </form>
    </div>
    <div>
        <p>Task Log:</p>
        <ul>
        {% for log_entry in logs %}
            <li>
                {{ log_entry }}
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>